<mat-card class="example-card"
          appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar
         class="example-header-image"></div>
    <mat-card-title>
      {{ $name() }}
    </mat-card-title>

    <mat-card-subtitle>
      #ID {{ $uid() }}
    </mat-card-subtitle>
  </mat-card-header>

  @let loading = $loading();
  @if(loading) {
  <div class="loading-indicator">
    <mat-spinner></mat-spinner>
  </div>
  }

  <img mat-card-image
       [hidden]="loading"
       [src]="$imageUrl()"
       (load)="onImageLoad()"
       (error)="onImageError()" />

  <mat-card-content>
    <p>
      {{ $description() }}
    </p>
  </mat-card-content>

  <mat-card-actions [align]="'end'">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
