:host {
  display: block;
}

mat-card-header {
  min-height: 100px;
}

mat-card-subtitle {
  margin-top: 10px;
}

mat-card-content {
  padding: 20px;
  min-height: 30px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.loading-indicator {
  width: 100%;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
