<mat-card class="example-card"
          appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar
         class="exercise-timer-container">
      <mat-progress-spinner class="exercise-timer"
                            [diameter]="56"
                            [value]="$timePercentage()">
      </mat-progress-spinner>

      <div class="exercise-timer-value">
        {{ $timeLeft() }}
      </div>
    </div>

    <mat-card-title>
      #ID {{ $uid() }}
    </mat-card-title>

    <mat-card-subtitle>
      {{ $name() }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-progress-bar mode="determinate"
                    [value]="$totalPercentage()">
  </mat-progress-bar>

  @let loading = $loading();
  @if(loading) {
  <div class="loading-indicator">
    <mat-spinner></mat-spinner>
  </div>
  }

  <img mat-card-image
       [hidden]="loading"
       [src]="$imageUrl()"
       (load)="onImageLoad()"
       (error)="onImageError()" />

  <mat-card-content>
    <p>
      {{ $description() }}
      [[description]]
    </p>
  </mat-card-content>

  <mat-card-actions [align]="'end'">
    <button mat-fab
            extended
            (click)="pauseTraining()">
      <mat-icon>
        pause
      </mat-icon>

      <span>
        Pause
      </span>
    </button>
  </mat-card-actions>
</mat-card>
